.btn-serv {
    padding: 1em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #003796;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .btn-serv:hover {
    background-color: #0b95bf;
    box-shadow: 0px 15px 20px rgba(5, 20, 218, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btn-serv:active {
    transform: translateY(-1px);
  }
  .img-serv {
    max-width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 12/9;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
.mb-0 {
  margin-bottom: 0;
}
.text-cont {
  flex: 1 1 500px;
  text-align: left;
}
.logo-img {
  flex: 2 1 300px;
  aspect-ratio: 0;
}
.border-logo {
  border-radius: 600px;
  width: 300px;
  height: auto;
  filter: brightness(0.6) contrast(0.9) drop-shadow(0 4px 6px rgba(0, 0, 0, 0.568));
}

.bt-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
/* From Uiverse.io by satyamchaudharydev */
.btn-contact {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-contact {
  --primary-color: #ffffffd8;
  --hovered-color: #0b95bf;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.btn-contact p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.btn-contact::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.btn-contact p::before {
  position: absolute;
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.btn-contact:hover::after {
  width: 100%;
}

.btn-contact:hover p::before {
  width: 100%;
}

.btn-contact:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.btn-contact svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}
