#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(135deg, rgba(4, 32, 64, 0.603), rgba(4, 32, 64, 0.521));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 0px 20px 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  #mainNav .navbar-toggler {
    padding: 1rem;
    font-size: 0.75rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .navbar-logo {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .navbar-logo {
      height: 40px; 
    }
  }
  #mainNav .navbar-brand {
    color: #fafafa;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 3rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #6a6c72;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      border: none;
      background: none;
      background-color: transparent;
      backdrop-filter: none;
      border-radius: none;
      box-shadow: none;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 4rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background: linear-gradient(135deg, rgba(4, 32, 64, 0.719), rgba(4, 32, 64, 0.596));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 0px 0px 20px 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
      height: 3rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }
.paste-button {
  position: relative;
  display: block;
}

.btn-s {
 text-decoration: dashed;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background: linear-gradient(135deg, rgba(4, 32, 64, 0.548), rgba(4, 32, 64, 0.507));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px 0px 20px 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dropdown-content a {
  color: #ffffff;
  text-shadow: 10px 5px 10px rgb(0, 0, 0);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #023799;
  color: #979797;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #aaaaaa;
}

.dropdown-content #top:hover {
  border-radius: 0px 0px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 20px 20px;
}

.paste-button:hover .btn-s {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}
.icon-down {
  margin-left: 10px;
  margin-top: 2px;
}


